/*my style*/

.boot-class_menu-top_wrapper{
  background-color:blue;
  border-color:#BF0000;
  color:#fff;
}

.boot-class_menu-top_wrapper li a{
  color:#fff!important;
}

.boot-class_menu-top_wrapper li a:hover, .boot-class_menu-top_wrapper li a:active{
  color:#fff!important;
  background-color:#062DBD;
}